<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Lecture-Web</display-name>
 
  
  <!-- http://localhost:9999/Lecture-Web/hello 요청 시 kr.ac.kopo.servlet.HelloServler.java가 실행되도록 mapping(원래는 404에러로 안 됨
   -->
  <servlet>
  <!-- hello란 이름을 가진 서블렛은 한쌍 의미-->
  <servlet-name>hello</servlet-name>
  <servlet-class>kr.ac.kopo.servlet.HelloServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
  <servlet-name>hello</servlet-name>
  <!-- 가상의 url을 servlet 클래스와 mapping 해준다 -->
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>

<!-- 하나의 servlet을 여러 url을 통해 접근 가능 아래는 hi url로도 접근가능하다는것을 알려줌 -->
  <servlet-mapping>
  <servlet-name>hello</servlet-name>
  <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  
  <!-- MethodServlet 관련 -->
  <servlet>
  <servlet-name>method</servlet-name>
  <servlet-class>kr.ac.kopo.servlet.MethodServlet</servlet-class>
  </servlet>

   <servlet-mapping>
  <servlet-name>method</servlet-name>
  <url-pattern>/method</url-pattern>
  </servlet-mapping>

  <!-- ExamServlet 관련 -->
  <servlet>
  <servlet-name>exam</servlet-name>
  <servlet-class>kr.ac.kopo.servlet.ExamServlet</servlet-class>
  </servlet>

   <servlet-mapping>
  <servlet-name>exam</servlet-name>
  <url-pattern>/exam</url-pattern>
  </servlet-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>